{% extends "layout.html" %}

{% block title %}
    Flack
{% endblock %}

{% block body %}
<head>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script>
//	document.addEventListener('DOMContentLoaded', function(){
//			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
//			socket.on('connect', function(){
///				document.querySelector('#reply').onclick = function(){
	//				const message = document.querySelector('#comment_box').value;
	//				socket.emit('submit', message, "{{ room }}");
	//				document.querySelector('#comment_box').value = "";
	//			}
	//		});
	//		
	//		socket.on('send reply', function(data) {
	///			var new_message = document.createElement("li");
		///		new_message.appendChild(document.createTextNode(data));
			//	
			//	document.querySelector('#chat_window').appendChild(new_message);
			//});
		//	
		//	document.querySelector('#rooms').onchange = function(){
		//		document.querySelector('#chat_room_title').innerHTML = document.querySelector('#rooms').value;
			
		//	}
	//	});
	</script>
</head>
	<style>
		link {
			color: white;
		}
		h1 {
			color: rgb(255,255,255);
		}
	</style>
    <h1>Welcome to the Package Delivery App</h1>
	<div>
		<ul>
			<li>
				<a class="link" href="{{url_for('run_delivery')}}">Run Delivery</a>
			</li>
			<li>
				<a class="link" href="{{url_for('show_cargo')}}">Show Truck Cargo</a>
			</li>
			<li>
				<a class="link" href="{{url_for('lookup_package')}}">Lookup Package</a>
			</li>
			<li>
				<a class="link" href="{{url_for('list_packages')}}">List All Packages</a>
			</li>
			<li>
				<a class="link" href="{{url_for('load_trucks')}}">Load Trucks</a>
			</li>
		</ul>
	</div>
{% endblock %}