{% extends "layout.html" %}

{% block title %}
    Flack
{% endblock %}

{% block body %}
<head>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script>
	document.addEventListener('DOMContentLoaded', function(){
			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
			socket.on('connect', function(){
				document.querySelector('#reply').onclick = function(){
					const message = document.querySelector('#comment_box').value;
					socket.emit('submit', message, "{{ room }}");
					document.querySelector('#comment_box').value = "";
				}
			});
			
			socket.on('send reply', function(data) {
				var new_message = document.createElement("li");
				new_message.appendChild(document.createTextNode(data));
				
				document.querySelector('#chat_window').appendChild(new_message);
			});
			
			document.querySelector('#rooms').onchange = function(){
				document.querySelector('#chat_room_title').innerHTML = document.querySelector('#rooms').value;
			
			}
		});
	</script>
</head>
	<style>
		.channel_link {
			color: white;
		}
		h1 {
			color: rgb(255,255,255);
		}
		h2 {
			color: rgb(255,255,255);
		}
		a {
			color: rgb(255,255,255);
		}
	</style>
	<h2>Load Trucks</h2>
	<div>
		<form id="package_load" method="POST">
			<div class="form-group">
				<input class="form-control" name="package" placeholder="Package ID"/>
        </div>
		 <div class="form-group">
            <button id="submit" class="btn btn-primary">Load</button>
        </div>
	</div>
	</div>
{% endblock %}